/* @font-face {
    font-family: 'sans';
    src: url("./JosefinSans-VariableFont_wght.ttf");
} */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
}

body {
    background-image: url("../assets/Wave3.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#navbar {
    box-shadow: 1px 1px 20px rgb(173, 192, 255);
}

#section1 {
    height: 80vh;
}


input {
    font-size: 10px;
}

.btn-primary {
    width: 100%;
}

.form-outline {
    border-radius: 10px;
}

#redirect a {
    color: #0D6EFD;
    cursor: pointer;
}

/* Show/Hide button */
.password_input {
    position: relative;
}

.password_input input[type="password"] {
    padding-right: 30px;
}

.password_input .showBtn {
    position: absolute;
    top: 50%;
    right: 7px;
    z-index: 1;
    color: #0D6EFD;
    font-size: small;
    transform: translateY(-50%);
    cursor: pointer;
}


@media (min-width: 768px) {
    body {
        overflow-y: hidden;
    }
}